body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 200px;
  height: auto;
}
.wrapper {
  display: flex;
}
.profile {
  flex-direction: column;
  width: 30%;
  background-color: #fef5ed;
  padding: 20px;
  padding-right: 20px;
}
.description {
  flex-direction: column;
  width: 30%;
  background-color: #d3e4cd;
  padding: 20px;
  padding-left: 40px;
}
